@model LanchesMac.Models.Lanche

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricacoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricacoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricacoDetalhada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricacoDetalhada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemThumbnaiUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemThumbnaiUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLanchePreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLanchePreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LancheID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
